/* .outer {
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 25%;
} */

textarea {
  width: 590px;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}

b {
  font-size: x-large;
}

div.divid img {
  width: 150px;
  height: 150px;
  margin-left: 200px;
}

div.check4 button {
  width: 590px;
  height: 65px;
  background-color: #88c5fa;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: larger;
  font-style: inherit;
}
div.check4 button:hover{
  background-color: rgb(95, 178, 242);
}

nav.AgreePadding {
  padding-left: 22%;
  padding-top: 5%;
  padding-right: 10%;
}

div.PagePadding {
  padding-left: 37%;
  padding-top: 5%;
  padding-right: 37%;
}

div.check4 {
  padding-bottom: 20%;
}
